*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  margin: 0;
}
body {
  background-color: #f5f5f5;
}
.inactive {
  background-color: #BFBFBF!important;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.btn-container {
  width: 75px;
  height: 75px;
  margin: 30px 0;
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: transparent;
}
.btn {
  fill: #393939;
  width: 100%;
  height: 100%;
  transition-property: fill, padding;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  padding: 20px;
}
.btn-container:hover .btn {
  fill: #555;
  padding: 0 20px 40px 20px;
}
.projects-container,
.contact-container {
  overflow-y: hidden;
  width: 100vw;
  position: fixed;
  top: 100vh;
  bottom: 0;
  background-color: #f5f5f5;
  z-index: 100;
  transition-property: top;
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
  padding-bottom: 20px;
}
.active {
  top: 0;
}
.scrollable {
  overflow-y: auto;
}
.back-nav {
  width: 100vw;
  padding: 0 1vh;
  height: calc(10vh - 2vw);
  display: flex;
  align-items: center;
}
.back-btn-container {
  background-color: transparent;
  border: none;
  height: 75%;
  cursor: pointer;
}
.back-btn {
  fill: #393939;
  height: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.msg-icon {
  height: 50px;
}
.msg-icon svg {
  fill: #393939;
  height: 100%;
}
.input-container {  
  width: 70%;
  margin-top: 5vh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-container input,
.input-container textarea {
  border: 2px solid #393939;
  padding: 10px;
  border-radius: 10px;
  margin-top: 3vh;
  width: 100%;
  background-color: #f5f5f5;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 14px;
}
.input-container input {
  height: 40px;
}
.input-container textarea {
  height: 175px;
  resize: none;
}
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 75px;
  border: 2px solid #393939;
  border-radius: 10px;
  background-color: #f5f5f5;
  padding: 10px;
  margin-top: 3vh;
  align-self: flex-end;
  cursor: pointer;
  transition-property: fill, color, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.15s;
}
.submit svg {
  height: 100%;
}
.submit span {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}
.submit:hover {
  background-color: #393939;
  color: #f5f5f5;
  fill: #f5f5f5;
}
@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .btn-container {
    margin: 0 5vw;
  }
  .form-container {
    margin-top: 100px;
  }
  .input-container {
    margin-top: 75px;
  }
  .input-container input {
    height: 45px;
  }
  .input-container input,
  .input-container textarea,
  .submit {
    margin-top: 25px;
    font-size: 16px;
  }
  .submit {
    height: 45px;
    width: 100px;
  }
  .input-container textarea {
    height: 250px;
  }
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  position: absolute;
  top: 1vh;
  left: 1vh;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #393939;
}
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #393939;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
